<nav class="site-nav" aria-label="Blog-Navigation">
  <ul class="site-nav__list">
    <li class="site-nav__item">
      <a href="{{ '/blog/' | relative_url }}" {% if page.url == '/blog/' %}aria-current="page"{% endif %}
        >Blog</a
      >
    </li>
    <li class="site-nav__item">
      <a href="{{ '/blog/categories/' | relative_url }}" {% if page.url == '/blog/categories/' %}aria-current="page"{% endif %}
        >Kategorien</a
      >
    </li>
    <li class="site-nav__item{% if page.url == '/' or page.url == '/index.html' %} site-nav__item--active{% endif %}">
      <a href="{{ '/index.html' | relative_url }}" {% if page.url == '/' or page.url == '/index.html' %}aria-current="page"{% endif %}
        >Startseite</a
      >
    </li>
  </ul>
</nav>
